
.el-form-item__content {
  text-align: left;
}

.el-row, .el-col {
  text-align: left;
}

#app {
  .w100 {
    width: 100%;
  }

  .h100 {
    height: 100%;
  }
  .checkbox-group-ticket {
    .checkbox-ticket {
      margin-top: 10px;
      .el-checkbox__label{

      }
    }
  }
}

.carousel-wrap {
  .el-carousel {
    .el-carousel__indicator, .el-carousel__button {
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }

    .el-carousel__indicators--outside button {
      background-color: #69a9f3;
    }
  }
}

.el-main.default {
  height: auto;
}

.default-scrollbar {
  width: 100%;
  height: 100%;
  background: none;
}

.flex-scrollbar {
  width: auto;
  height: auto;
  flex: 1;
}

.el-scrollbar__wrap.default-scrollbar__wrap {
  overflow-x: auto;
}

.el-scrollbar__view.default-scrollbar__view {

}

.el-scrollbar__view.p20-scrollbar__view {
  box-sizing: border-box;
}

#center-index {

  .el-tooltip__popper.is-dark {
    background: rgba(0, 0, 0, .8);
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
  }

  .el-tooltip__popper[x-placement^="top"] .popper__arrow {
    border-top-color: rgba(0, 0, 0, .8);
  }

  .el-tooltip__popper[x-placement^="top"] .popper__arrow::after {
    border-top-color: rgba(0, 0, 0, .8);
  }
}

.el-icon-arrow-down {
  transition: all 0.2s linear;
}

.el-icon-arrow-down.open {
  transform: rotateZ(180deg);
}

.g-filter:focus {
  outline: none;
}

.g-filter.select {
  color: #0091ea;
}

.el-cascader {
  display: block;
  width: 100%;
}

.margin-t-10 {
  margin-top: 10px;
}

.g-faceimg {
  width: 60px;
  height: 60px;
  position: relative;

  img {
    width: 100%;
    height: 100%;
  }

  .bg-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
    display: none;
    background: rgba(0, 0, 0, .4);
    transition: all .3ms ease-in-out;
    cursor: pointer;

    i {
      font-size: 24px;
      line-height: 60px;
      color: #e5e5e5;
    }
  }
}

.g-faceimg:hover {
  .bg-wrap {
    display: block;
  }
}

.img-box {
  > img {
    cursor: pointer;
  }
}

.g-table {
  .el-table__body-wrapper {
    max-height: calc(100% - 47px);
    overflow-y: auto;
  }
}

.g-table-300 {
  .el-table__body-wrapper {
    max-height: 300px;
    overflow-y: auto;
  }
}

.g-table-200 {
  .el-table__body-wrapper {
    max-height: 200px;
    overflow-y: auto;
  }
}

// 工单
.g-zinput{
  .el-input{
    height: auto;
  }
}
.g-wo-green{
  color: #00B319;
}
.g-wo-orange{
  color: #FF9A2E;
}
.g-wo-blue{
  color: #2E73FF;
}
.g-wo-red{
  color: #FF2E2E;
}

.g-bg-green{
  background: #00B319;
}
.g-bg-orange{
  background: #FF9A2E;
}
.g-bg-blue{
  background: #2E73FF;
}
.g-bg-red{
  background: #FF2E2E;
}

.g-handle-type{
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 10px;
  p{
    width: 48%;
    height: 48px;
    border: 1px dashed #0066ff;
    cursor: pointer;
    text-align: center;
    line-height: 48px;
    font-size: 14px;
    color: #333;
  }
  .p-active{
    position: relative;
    border: 1px solid #0066ff;
    background-color: rgba(0, 153, 255, 0.219607843137255);
    &:after{
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      width: 28px;
      height: 28px;
      background: url("/static/img/workOrder-img/right-jiao.png") no-repeat;
      background-size: 100% 100%;
    }
  }
  .p-disabled{
    background-color: #e4e4e4;
  }
}
.g-assign-item{
  position: relative;
  border: 1px dashed #CCCCCC;
  padding: 10px;
  margin-bottom: 20px;
  &:last-child{
    margin-bottom: 0;
  }
  .el-icon-error{
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
  }
  .g-priority{
    // justify-content: space-between;
    padding-top: 10px;
    li{
      width: 100px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      font-size: 13px;
      color: #333333;
      border: 1px solid #797979;
      cursor: pointer;
      margin-right: 10px;
    }
    .li-active{
      background-color: rgba(22, 155, 213, 1);
      color: #fff;
    }
  }
}
.g-col-line{
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
.g-basic-info{
  position: relative;
  padding: 10px;
  .g-service-type {
    position: absolute;
    right: -10px;
    top: 20px;
    text-align: center;
    line-height: 30px;
    padding: 0 10px 0 20px;
    height: 30px;
    font-size: 16px;
    color: #fff;
    background-color: rgba(22, 155, 213, 1);
    border-radius: 15px 0 0 15px;
  }

  p{
    font-size: 14px;
    color: #333333;
    line-height: 20px;
    margin-bottom: 10px;
    span{
      color: #0066FF;
    }
  }
  .g-col-line{
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }
  .g-imgshow{
    display: flex;
    img{
      width: 80px;
      height: 80px;
      margin-bottom: 10px;
      margin-left: 10px;
    }
  }
}
.g-handle-info{
  padding-bottom: 20px;
  padding-top: 10px;
  .g-the-iconimg{
    margin-right: 20px;
    margin-left: 10px;
    img{
      width: 70px;
      height: 70px;
    }
  }
  .g-infos-more{
    margin-right: 10px;
    flex: 1;
    .p-cont{
      font-size: 14px;
      color: #333333;
      line-height: 20px;
    }
    .p-state{
      font-weight: bold;
      font-style: normal;
      font-size: 18px;
    }
  }
}
.g-handle-more{
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 10px;
  .g-the-iconimg{
    margin-right: 10px;
    width: 60px;
    height: 60px;
    margin-left: 20px;
    img{
      width: 60px;
      height: 60px;
    }
  }
  .g-infos-more{
    flex: 1;
    .p-cont{
      font-size: 14px;
      color: #333333;
      line-height: 20px;
    }
    .p-state{
      font-weight: bold;
      font-style: normal;
      font-size: 18px;
    }
    .p-ordernum{
      color: #0099FF;
      font-size: 14px;
    }
  }
}
.g-complete-word{
  display: flex;
  margin-bottom: 10px;
  padding: 0 10px;
  p,i{
    color: #949494;
    font-size: 12px;
  }
  i{
    font-size: 14px;
    margin-top: 2px;
    margin-right: 8px;
  }
}
.g-managerbox,.g-executor-box{
  padding: 10px 0;
  .g-manager-img{
    margin-right: 20px;
    margin-left: 20px;
    img{
      width: 74px;
      height: 74px;
    }
  }
  .g-manager-people{
    flex: 1;
    .p-name{
      font-size: 18px;
      color: #333;
    }
  }
  .g-manger-phone{
    margin-top: 10px;
    p{
      font-size: 16px;
      color: #333;
    }
    i{
      color: #1497db;
      font-size: 18px;
      margin-right: 20px;
    }
  }
  .p-manager-state{
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
  }
}
.g-handle-manager{
  border-top: 1px solid #CCCCCC;
  padding-top: 20px;
  padding-left: 10px;
  p{
    color: #333333;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .g-imgdesc{
    display: flex;
    img{
      display: block;
      width: 80px;
      height: 80px;
      margin-left: 10px;
      margin-bottom: 10px;
    }
  }
}
.g-executor-box{
  margin-bottom: 10px;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  .g-manager-img{
    margin-right: 20px;
    margin-left: 20px;
    img{
      width: 50px;
      height: 50px;
    }
  }
}

/*新页面*/
.g-modular-box{
  margin: 10px 0;
  background:rgba(255,255,255,1);
  box-shadow:0px 3px 10px 0px rgba(0,14,26,0.04);
  border-radius:6px;
  padding: 20px;
  margin-bottom: 20px;
  .g-worker-back{
    padding-top: 19px;
  }
  .g-back-title{
    font-size:14px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height: 1;
    margin-bottom: 8px;
  }
  .g-back-cont{
    font-size:14px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(119,119,119,1);
    line-height: 20px;
  }
  .g-back-imgstit{
    margin-top: 12px;
  }
  .g-back-imgs{
    display: flex;
    flex-wrap: wrap;
    .g-img{
      flex-wrap: none;
      width: 80px;
      height: 80px;
      margin-top: 10px;
      margin-right: 10px;
      img{
        width: 80px;
        height: 80px;
        object-fit: cover;
      }
    }
  }
  .g-work-top{
    justify-content: space-between;
    .state-img{
      width: 32px;
      height: 32px;
      margin-right: 12px;
    }
    .p-state{
      font-size:16px;
      font-family:PingFangSC-Medium;
      font-weight:500;
    }
    .g-quick-btns{
      width:120px;
      height:28px;
      border:1px solid rgba(46,115,255,1);
      border-radius:6px;
      text-align: center;
      line-height: 28px;
      font-size:14px;
      font-family:PingFangSC-Regular;
      font-weight:400;
      color:rgba(46,115,255,1);
      cursor: pointer;
    }
    .g-worker-num{
      font-size:14px;
      font-family:PingFangSC-Regular;
      font-weight:400;
      color:rgba(46,115,255,1);
    }
  }
  .g-distribute-info{
    padding: 7px 0 11px 44px;
    // border-bottom: 1px solid #DDDDDD;
    p{
      font-size:14px;
      font-family:PingFangSC-Regular;
      font-weight:400;
      color:rgba(170,170,170,1);
      line-height: 1;
      margin-bottom: 9px;
    }
  }
  .g-work-orders{
    li{
      border-top: 1px solid #DDDDDD;
      .g-workers-box{
        border-bottom: 1px solid #DDDDDD;
        .g-workers-cont{
          padding: 19px 0;
        }
        .img1{
          width: 32px;
          height: 32px;
          margin-right: 13px;
        }
        .g-lines-col{
          margin-left: 32px;
          width: calc(100% - 32px);
          height: 1px;
          background: #DDDDDD;
        }
      }
      .g-people-positon{
        .p-names{
          font-size:14px;
          font-family:PingFangSC-Medium;
          font-weight:500;
          color:rgba(51,51,51,1);
          line-height: 1;
        }
        .p-state1{
          width:56px;
          height:20px;
          border-radius:10px;
          margin-left: 12px;
          text-align: center;
          line-height: 20px;
          font-size:12px;
          font-family:PingFangSC-Regular;
          font-weight:400;
          color:rgba(255,255,255,1);
        }
      }
      .g-people-other{
        margin-top: 8px;
        img{
          width: 14px;
          height: 14px;
          margin-right: 5px;
        }
        .p-phone{
          font-size:14px;
          font-family:PingFangSC-Regular;
          font-weight:400;
          color:rgba(102,102,102,1);
        }
      }
      .g-next-workers{
        padding-left: 32px;
        .g-next-worker-item{
          border-top: 1px solid #DDDDDD;
          &:first-child{
            border-top: 0 none;
          }
        }
      }
    }
  }
}
#service-management-desk {
  .g-table {
    .el-table__body-wrapper {
      height: calc(100% - 47px);
    }

    .el-table__fixed-body-wrapper {
      height: calc(100% - 47px);
    }
  }
}

.g-table {
  width: 100%;

  .el-table__body-wrapper {
    max-height: calc(100% - 36px);
    overflow-y: auto;
  }

  .el-table__fixed-body-wrapper {
    max-height: calc(100% - 36px);
  }
}

.drawer-warp{
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  .over-auto{
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    .title{
      padding:10px;
    }
  }
  .drawer-top{
    height: 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #C0E6FF;
    h3{
      align-items: center;
      color: #72767b;
      display: flex;
      margin-bottom: 32px;
      padding-top: 20px;
      padding-bottom: 0;
    }
  }
  .drawer-footer{
    margin-top: 10px;
    height: 40px;
    width: calc(100% - 20px);
    text-align: center;
  }
}
